body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.colored-section {
    background-color: #865858;
    color: white;
}

.container-fluid {
    padding: 2% 14% 6%;
}

h2 {
    font-size: 2.75rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.5;
}

#title {
    color: black;
    background-image: url('../images/emerson-peters-oBCT3obZ6OY-unsplash.jpg');
    background-size: cover;
    background-position: center right;
}

/* Navigation bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-dark .navbar-brand {
    font-weight: 700;
    font-size: 2.25rem;
    color: black;
}

.navbar-dark .navbar-brand:hover {
    color: rgba(87, 50, 50, 0.5);
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: 100;
    font-size: 1.1rem;
    padding: 0 18px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(0,0,0,0.8);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(87, 50, 50, 0.5);
}

/* Main content */

.col-lg-6 {
    text-align: left;
}

.col-lg-6 h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.45rem;
    line-height: 1.5;
}

.download-btn img {
    margin-right: 8px;
    width: 148px;
    height: 80px;
}

.col-lg-6 .phone {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features */

#features {
    padding: 8% 14%;
    background-color: white;
    position: relative;
    z-index: 1;
}

#features svg {
    margin-bottom: 5%;
}

#features svg:hover {
    stroke: #6e7c7c;
}

#features .diff:hover {
    fill: #6e7c7c;
}

#features h3 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

#features p {
    color: #8f8f8f;
    font-size: 1rem;
    width: 60%;
    margin: 0 auto;
}

/* testimonials */

#testimonials h2 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

#testimonials img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#tindogCarousel {
    padding: 6% 14%;
}

/* press */

#press {
    background-color: white;
    text-align: center;
    padding: 6% 0;
}

#press img {
    width: 15%;
    padding: 0 20px;
}

/* Pricing */

#pricing {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 6%;
}

.pricing-column {
    padding: 3% 2%;
}

.card-body h2 {
    font-size: 1.75rem;
}

/* Pricing */

#cta {
    padding: 6% 12%;
}

#cta h3 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.5;
}

/* footer */

#footer {
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
}

#footer i {
    padding: 0 0.5% 1.5%;
}

#footer p {
    color: grey;
    font-size: 12px;
    margin: 0;
}

.social-icon {
    display: flex;
}

.social-icon i {
    margin: 0 10px;
}

@media (max-width: 993px) {
    .navbar-dark .navbar-toggler {
        border-color: rgba(0,0,0,1);
        width: 50px;
        height: 50px;
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .container-fluid {
        padding: 2% 7% 6%;
    }

    #title {
        background-position: left;
        height: 80vh;
    }

    .col-lg-6 {
        text-align: center;
        padding-bottom: 50px;
    }

    .col-lg-6 h1 {
        font-size: 3rem;
        color: black;
    }

    #testimonials h2 {
        font-size: 1.75rem;
        line-height: 1.5;
    }

    #press img {
        width: 20%;
        padding: 0 20px;
    }

    #features .col-lg-4 {
        padding-bottom: 25px;
    }

    .pricing-column {
        padding: 5% 2%;
    }

    .card-body h2 {
        font-size: 1.5rem;
    }

    #cta h3 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        line-height: 1.5;
    }

    #footer {
        padding: 4% 8%;
    }
    
}